<div class="card m-2">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <small>
      Created by:
      {{user.first_name}}
      {{user.last_name}}
      Created at:{{formatDate createdAt}}</small>
    <p class="card-text">{{description}}</p>

    <div class="text-center">
      <a href="/blog/{{id}}"><button
          name="view"
          class="btn btn-primary card-link"
        >View</button></a>
    </div>
    <div class="text-center my-2">
    </div>
  </div>
</div>