<div class="card m-2">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <small>
      Created by:
      {{user.first_name}}
      {{user.last_name}}
      Created at:{{formatDate createdAt}}</small>
    <p class="card-text">{{description}}</p>

    <div class="text-center">
      <button
        name="comment-btn"
        class="btn btn-primary card-link"
      >Comment</button>
    </div>
    <div class="text-center my-2">
    </div>
  </div>
</div>