<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
    <div>
    <h5 class="card-title">{{title}}</h5>
    <h6 class="text-end">Created at:  {{formatDate createdAt}}</h6>
    <p class="card-text">{{description}}</p></p>

    </div>

    <div class="text-center">
      <a
        href="/edit-blog/{{id}}"
        class="btn btn-success card-link"
      >Edit</a>
      <a
        href="/blog/{{id}}"
        class="btn btn-primary card-link"
      >View</a>
      <button
        id="{{id}}"
        name="delete-btn"
        class="btn btn-danger card-link"
      >Delete</button>
    </div>
  </div>
</div>